* {
    color: black;
    background-color: bisque;
    font-family: monospace;
    font-size: 1.3rem;
}
h1 {
    color: red;
    text-align: center;
    font-size: 2rem;
}
h2 {
    color: cornflowerblue;
    font-size: 1.1rem;
}
img {
    
    height: auto;
    width: 15rem;
}